<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Personal BMR & TDEE Calculator</title>
        <meta name="description" content="Result page.">
        <meta name="keywords" content="tdee, bmr, calculator, success, result">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <header>
            <h1 id="header">
                <a href="/">Personal BMR & TDEE Calculator</a>
            </h1>
        </header>

        <main>
            <div id="resultDiv">
                <p id="result">
                    <%= result.message %>
                </p>
            </div>
        </main>

        <footer>
            <p>Personal BMR and TDEE Calculator 2024-2025</p>
        </footer>
    </body>
</html>